.employeedb {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.accessalert {
	text-align: center;
	width: 60%;
	margin-top: 30px;
}

.trashCan, .editBtn {
	padding: 0;
}

.iconCell {
	text-align: center;
}

.required {
	color:  #ef2c61;
}