#dbpage {
	background-color: lightsteelblue;
}

.employeedb {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border-right: solid #6c757d;
	border-left: solid #6c757d;
	border-bottom: solid black;
}

.accessalert {
	margin-top: 30px;
}

.intro {
	display: flex;
	text-align: center;
	background-color: lightsteelblue;
	height: 100vw;
}

.login {
	background-color: lightsteelblue;
	height: 100vw;
}

.card {
	background-color: lightsteelblue;
}

.trashCan, .editBtn {
	padding: 0;
}

.iconCell {
	text-align: center;
}

table {
	font-family: 'VT323', monospace;
}

th, td {
	text-align: center;
}

.required {
	color:  #ef2c61;
}

.forms {
	display: flex;
	justify-content: space-around;
}

input, select {
	border-radius: 5px;
}

.table-striped>tbody>tr:nth-of-type(even) {
	background-color: #fff;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #dee2e6;
}

h4, h1 {
	font-family: 'VT323', monospace;
	font-size: xx-large;
}

h2 {
	font-family: 'VT323', monospace;
}