<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/fragment :: head('Home')"></head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<main class="container">
	<p>
		Welcome to the Employee Database System (EDS). Only authorized users may use the EDS. If you need access, please
		coordinate with your manager.
	</p>
</main>
<div th:replace="partials/fragment :: scripts"></div>
</body>
</html>
