<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/fragment :: head('Home')"></head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<main class="intro">
	<h2 class="accessalert">
		Welcome to the Employee Database System (EDS). Only users authorized by the HR Department may use the EDS. If you need access, please
		coordinate with your manager.
	</h2>
</main>
<div th:replace="partials/fragment :: scripts"></div>
</body>
</html>
