<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/fragment :: head('Manage Users')"></head>
<body>
<nav th:replace="partials/fragment :: navbar"></nav>
<div></div>

<div>
	<table>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
	</tr>
	<tr th:each="employee: ${employees}">
		<td><span th:text="${employee.getFirstName()}"></span></td>
		<td th:text="${employee.getLastName()}"></td>
		<td th:text="${employee.getEmail()}"></td>
	</tr>
	</table>
</div>
<br><br>
<div>
	<p>Add a user using the form below</p>
	<form class="form" th:action="@{/addusers}" th:method="POST" th:object="${newEmployee}">
		<label th:for="firstName"><span class="required">* </span>First Name:</label>
		<br>
		<input th:id="firstName" th:name="firstName" placeholder="First Name" required>
		<br>
		<label th:for="lastName"><span class="required">* </span>Last Name:</label>
		<br>
		<input th:id="lastName" th:name="lastName" placeholder="Last Name" required>
		<br>
		<label th:for="email"><span class="required">* </span>Email:</label><br>
		<input type="email" th:id="email" th:name="email" placeholder="Email@" required>
		<br><br>
		<button style="border-radius: 25px" type="submit" value="submit">Submit</button>
	</form>
</div>
<div>
<p>

</p>
</div>
<div th:replace="partials/fragment :: scripts"></div>
</body>
</html>